absl-py==2.1.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp==3.11.8
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
alembic==1.14.0
amqp==5.2.0
anaconda-anon-usage @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_60q98_n2ty/croot/anaconda-anon-usage_1732732446690/work
anaconda-catalogs @ file:///home/conda/feedstock_root/build_artifacts/anaconda-catalogs_1689425663815/work
anaconda-clean @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/anaconda-clean_1699251108943/work
anaconda-client @ file:///home/conda/feedstock_root/build_artifacts/anaconda-client_1719693470751/work
anaconda-cloud-auth @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bazegf935a/croot/anaconda-cloud-auth_1713991395391/work
anaconda-navigator @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dbsedxpmfb/croot/anaconda-navigator_1727709704056/work
anaconda-project @ file:///home/conda/feedstock_root/build_artifacts/anaconda-project_1660066847501/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anthropic==0.45.0
anyascii==0.3.2
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1733532585909/work
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
APScheduler==3.10.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1725356639941/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asgiref==3.7.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse==1.6.3
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
async-timeout==4.0.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1734348785146/work
audioread==3.0.1
Authlib==1.3.2
av==12.3.0
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1733236348445/work
backoff==2.2.1
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
bcrypt==4.2.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
bidict==0.23.1
billiard==4.2.0
bitarray==3.0.0
black==24.8.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1733302318120/work
blinker==1.9.0
blis==0.7.11
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1733827268945/work
boto3==1.35.98
botocore==1.35.98
braceexpand==0.1.7
braq==0.0.6
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.3.3
catalogue==2.0.10
catppuccin-jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/catppuccin-jupyterlab_1723927463551/work
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1724954784659/work
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.6.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.20.0
cohere==5.13.11
colbert-ai==0.2.21
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorclass==2.2.2
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
compressed_rtf==1.0.6
conda @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_527jk_262g/croot/conda_1736277825834/work
conda-build @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1abgux5sj7/croot/conda-build_1732660712228/work
conda-content-trust @ file:///home/conda/feedstock_root/build_artifacts/conda-content-trust_1693490762241/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1727359833193/work/src
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1734292804024/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1733855758490/work
conda-repo-cli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c9gqx_eta_/croot/conda-repo-cli_1734546800767/work
conda-token @ file:///croot/conda-token_1718995751285/work
conda_index @ file:///home/conda/feedstock_root/build_artifacts/conda-index_1718383105992/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
confection==0.1.5
coqpit==0.0.17
coqui-tts==0.24.3
coqui-tts-trainer==0.1.6
cori-ai==0.1.7
cron-descriptor==1.4.3
cryptography==42.0.5
cssselect2==0.7.0
ctranslate2==4.5.0
cymem==2.0.8
Cython==3.0.11
dataclasses-json==0.6.7
datasets==3.2.0
dateparser==1.1.8
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1734158985589/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
dill==0.3.8
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
Django==4.2.10
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-environ==0.11.2
django-extensions==3.2.3
django-filter==2.4.0
django-sendsms==0.5
django-storages==1.14.2
django-timezone-field==6.1.0
django-unfold==0.37.0
django-user-agents==0.4.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
dmglib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e8vusks82c/croot/dmglib_1719996269222/work
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
docx2txt==0.8
drf-user==1.1.0
drf-yasg==1.21.7
drfaddons==0.1.4
duckduckgo_search==7.2.1
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
einops==0.8.0
email_validator==2.2.0
emoji==2.14.0
encodec==0.1.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile==2.0.0
eval_type_backport==0.2.0
Events==0.5
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
extract-msg==0.52.0
fake-useragent==1.5.1
Faker==25.2.0
fastapi==0.111.0
fastapi-cli==0.0.7
fastavro==1.10.0
fastcore==1.7.19
faster-whisper==1.0.3
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
fastprogress==1.0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1733240801289/work
filetype==1.2.0
firebase-admin==5.2.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.53.0
fpdf2==2.8.2
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841362247/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1729699498974/work
fs==2.4.16
fsspec==2024.9.0
ftfy==6.2.3
gast==0.6.0
gcp-storage-emulator==2024.8.3
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
gobject==0.1.0
google-ai-generativelanguage==0.6.6
google-api-core==2.18.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.78.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gptcache==0.1.44
grpc-google-iam-v1==0.14.0
grpcio==1.62.1
grpcio-status==1.62.1
grpcio-tools==1.62.3
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gTTS==2.5.3
gunicorn==22.0.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hatchling==1.27.0
HeapDict @ file:///home/conda/feedstock_root/build_artifacts/heapdict_1733762606052/work
hf_transfer==0.1.8
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
html5lib==1.1
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1733852339297/work
humanfriendly==10.0
hydra_cache==0.1.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
HyperPyYAML==1.2.2
id==1.5.0
idna==3.6
importlib_metadata==8.4.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1733231327252/work
inflect==7.4.0
inflection==0.5.1
iniconfig==2.0.0
intake @ file:///home/conda/feedstock_root/build_artifacts/intake_1734209362396/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1734788142186/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
itsdangerous==2.2.0
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1733746366381/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1733272076743/work
jsonlines==1.2.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpath-python==1.0.6
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302931775/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1734531682843/work
jupyter-highlight-selected-word==0.2.0
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1733492907176/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_contrib_core==0.4.2
jupyter_copilot==0.1.4
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.14.2
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a2d0br6r6g/croot/jupyterlab_1725895226942/work
jupyterlab-darkside-ui==0.2.3
jupyterlab-spellchecker @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-spellchecker_1690583403888/work
jupyterlab_darkside_theme==0.1.2
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterthemes==0.20.0
keras==3.6.0
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1735210234218/work
kombu==5.3.7
kubernetes==32.0.0
langchain==0.3.7
langchain-cohere==0.3.5
langchain-community==0.3.7
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langcodes==3.4.1
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.147
language_data==1.2.0
lark==1.1.9
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1702663523233/work
lazy_loader==0.4
ldap3==2.9.1
lesscpy==0.15.1
libarchive-c @ file:///Users/runner/miniforge3/conda-bld/python-libarchive-c_1725302609286/work
libclang==18.1.1
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/libmambapy
librosa==0.10.2.post1
lief @ file:///Users/runner/miniforge3/conda-bld/lief_1734539383135/work/api/python
lmdb @ file:///Users/runner/miniforge3/conda-bld/python-lmdb_1726688789025/work
lxml==5.3.0
Mako==1.3.8
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219728782/work
marshmallow==3.26.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mem0ai==0.1.48
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1731147022576/work
milvus-lite==2.4.11
mistralai==1.1.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1733258715622/work
ml-dtypes==0.4.1
mmh3==5.0.1
monotonic==1.6
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1733662565615/work
moto==5.0.27
mpmath==1.3.0
msgpack==1.0.8
msoffcrypto-tool==5.4.2
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1729065492473/work
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
namesgenerator==0.3
namex==0.0.8
navigator-updater @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_15xz58jgev/croot/navigator-updater_1718030392983/work
nbclassic==0.5.6
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1733405477194/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
nh3==0.2.20
ninja==1.11.1.3
nltk==3.9.1
notebook @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_539v4hufo2/croot/notebook_1727199149603/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
num2words==0.5.13
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
onnxruntime==1.20.0
openai==1.60.0
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.15
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging==24.0
pandas==2.2.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paradict==0.0.7
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
passlib==1.7.4
pathspec==0.12.1
pcodedmp==1.2.6
pdoc==15.0.1
peewee==3.17.8
peewee-migrate==1.12.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pgvector==0.3.5
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
Pillow==10.1.0
pkce @ file:///home/conda/feedstock_root/build_artifacts/pkce_1686678607016/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1733734533957/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
pooch==1.8.2
portalocker==2.10.1
posthog==3.9.3
preshed==3.0.9
primp==0.10.1
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prompt_toolkit==3.0.46
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1733391925834/work
proto-plus==1.23.0
protobuf==4.25.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1735327386040/work
psycopg2-binary==2.9.9
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-partiql-parser==0.6.1
pyarrow==19.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pyclipper==1.3.0.post6
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1732588505673/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.9.2
pydantic-settings==2.7.1
pydantic_core==2.23.4
pydub==0.25.1
pydyf==0.10.0
Pygments==2.17.2
PyJWT==1.7.1
pymdown-extensions==10.11.2
pymilvus==2.5.0
pymongo==4.10.1
PyMySQL==1.1.1
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1732987042813/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1733168734406/work
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.3.1
pyphen==0.15.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-sip @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pyqt-split_1699239482609/work/pyqt_sip
PyQtWebEngine==5.15.6
pysbd==0.3.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==8.3.4
pytest-docker==3.1.1
python-crfsuite==0.9.11
python-crontab==3.1.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-engineio==4.11.2
python-iso639==2024.10.22
python-jose==3.3.0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.1
python-pptx==1.0.0
python-socketio==5.11.3
pytube==15.0.0
pytz==2023.3.post1
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1725430547472/work
qdrant-client==1.12.2
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1730763764885/work
rank-bm25==0.2.2
RapidFuzz==3.11.0
rapidocr-onnxruntime==1.3.24
razorpay==1.4.1
readme_renderer==44.0
RealTimeTTS==0.4.10
red-black-tree-mod==1.20
redis==5.0.1
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1733366743674/work
reflex-chakra==0.6.3
reflex-hosting-cli==0.1.33
regex==2024.11.6
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
responses==0.25.6
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986==2.0.0
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==13.9.4
rich-toolkit==0.13.2
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1733366692110/work
rsa==4.9
RTFDE==0.1.2
ruamel-yaml-conda @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ruamel_yaml_1699249814223/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1728764996801/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1728724504988/work
s3transfer==0.10.1
safetensors==0.4.5
schema==0.7.7
scikit-learn==1.6.1
scipy==1.15.1
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1733909285729/work
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1733322099476/work
sentence-transformers==3.3.1
sentencepiece==0.2.0
setuptools==75.6.0
shapely==2.0.6
shared==0.0.30
shellingham==1.5.4
simple-websocket==1.1.0
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1697300488673/work
six==1.16.0
smmap==5.0.2
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sounddevice==0.5.1
soundfile==0.12.1
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
soxr==0.5.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==0.5.16
SQLAlchemy==2.0.32
sqlmodel==0.0.22
sqlparse==0.4.4
srsly==2.4.8
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
stanza==1.9.2
starlette==0.37.2
starlette-admin==0.14.1
stream2sentence==0.2.7
SudachiDict-core==20241021
SudachiPy==0.6.8
sympy==1.13.1
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1710263781917/work
testpath==0.6.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.20.1
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit==0.13.2
torch==2.5.1
torchaudio==2.5.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615911982/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1732497199771/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.46.2
trove-classifiers==2024.10.21.16
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1729762363021/work
twine==6.1.0
typeguard==4.4.1
typer==0.15.1
types-python-dateutil==2.9.0.20240316
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata==2024.1
tzlocal==5.2
ua-parser==0.18.0
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1724954437531/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_unidecode_1733714839/work
unstructured==0.15.9
unstructured-client==0.28.1
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
uritemplate==4.1.1
urllib3==1.26.19
urlwait==1.0
user-agents==2.2.0
ustrid==0.0.3
uvicorn==0.30.6
uvloop==0.21.0
validators==0.34.0
vine==5.1.0
vocos==0.1.0
wasabi==1.1.3
watchfiles==1.0.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasel==0.4.1
weasyprint==62.2
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webdataset==0.2.100
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
webrtcvad==2.0.10
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets==13.1
Werkzeug==3.1.3
whatsmate==1.3
wheel==0.45.1
WhisperSpeech==0.8.9
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
wrapt==1.17.2
written==0.0.4
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.1
xmltodict==0.14.2
xxhash==3.5.0
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1733428854088/work
youtube-transcript-api==0.6.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zopfli==0.2.3
zstandard==0.23.0
